.review-page {

}

.review {
    background-color: whitesmoke;
    width: 450px;
    height: auto;
    text-align: center;
    margin-left: 35%;
    border-radius: 6px;
}

.review p {
    padding-top: 2%;
    color: seagreen;
}

.review button {
    background-color: seagreen;
    border: 0;
    padding: 2%;
    color: whitesmoke;
    width: 30%;
    height: 10%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);;
    cursor: pointer;
}

.review button:hover, .form button:active, .form button:focus {
    background-color: darkgreen;
}

body {
    background-color: seagreen;
}