<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title></title>
</head>
<body>
<meta charset="UTF-8">

<a class="go-back" th:href="@{/restaurant}">Back to main </a>
<link rel="stylesheet" href="/public/css/login.css">
<link rel="stylesheet" href="../static/public/css/login.css">
<link rel="stylesheet" href="../static/public/css/return_buttons.css">
<link rel="stylesheet" href="/public/css/return_buttons.css">
<div class="login-page">
    <div class="form">
        <form th:action="@{/login/admin}" method="post">
            <input type="text" id="username" placeholder="username" name="username"/>
            <input type="text" id="password" placeholder="password" name="password"/>
            <input class="add-user" type="submit" value="add admin">
        </form>
    </div>
</div>
</body>
</html>